.swp
.idea/
node_modules/
dist/
dist-copy*/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
*.log
npm-debug*
.vscode/
.DS_STORE
stats.json
build-info.json
*.swp
*.
*.devcontainer/
/test-results/
/playwright-report/
/playwright/.cache/
.env
